body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: white;
    font-family: 'Comfortaa', cursive;
    /* background: #4561b2; */
    /* background: -webkit-linear-gradient(to right, #5fa8f1, #4561b2); */
    /* background: linear-gradient(to right, #5fa8f1, #4561b2); */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #5fa8f1, #4561b2);
	background-size: 600% 1200%;
	animation: gradient 45s ease infinite;
	height: 100vh;
 }
 
 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul.soc-icons {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

ul.soc-icons li {
  list-style: none;
  margin: auto;
}

ul.soc-icons li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul.soc-icons li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #007bff;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul.soc-icons li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #007bff;
}

ul.soc-icons li a:hover {
  color: #007bff;
  box-shadow: 0 0 5px #007bff;
  text-shadow: 0 0 5px #007bff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.grid-3 {	width: 25%;	float: left;	min-height: 1px;	padding-left: 15px;	padding-right: 15px;
	position: relative;
}
.counting {
    color: #fff;
    overflow: hidden;
    padding: 36px 0;
}

.counting span {
    font-size: 70px;
    font-weight: 700;
    position: relative;
	text-align:center;
	display:block;
}
.counting p {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 30px;
    text-transform: uppercase;
	text-align:center;
}

.counting span::before {
    bottom: -10px;
    content: " ";
    height: 4px;
    left: 32%;
    position: absolute;
    width: 36%;
}
  
#typer-size{
	font-size: 40px;
}

header {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}
header #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
header .vert-text {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
header .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
header .vert-text .scroll-down {
  display: block;
  position: absolute;
  bottom: 12%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
header .vert-text .scroll-down:hover {
  opacity: 0.5;
}
header .vert-text .scroll-down::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  margin: -16px 0 0 -16px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
header .vert-text .scroll-down::before {
  position: absolute;
  top: -22px;
  left: -22px;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}



#contacts {
	margin: 0 auto;
  padding: 100px 0;
	background: #224;
	width: 100%;
  color: #fff;
	transition: all 1.7s ease;
}
#contacts:hover{
	background: #4561b2;
	color: #fff;
}
#contacts .social {
  padding-bottom: 20px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
input[type=text]{
	margin-top: 20px;
	width: 390px;
	height: 55px;
	border-radius: 100px;
	padding: 10px;
	outline: none;
	background: rgba(0,0,0,0.2);
	border: 1px solid #fff;
	transition: all 0.3s ease;
}
input[type=text]:focus{
	background: rgba(102,51,153, 0.3);
	color: #fff;
	border: 1px solid violet;
}
::placeholder{
	color: #fff;
}
.zayn{
	margin-top: -70px;
}
hr.style17 {
	border-top: 1px solid pink;
	text-align: center;
	width: 250px;
	margin-top: 10px;
}
hr.style17:after{
	border-top: 1px solid pink;
	border-right: 1px solid pink;
	border-bottom: 1px solid pink;
	border-left: 1px solid pink;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #293968;
	color: #fff;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


button{
	border-radius: 100px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px;
	height: 45px;
	width: 200px;
	text-align: center;
	outline: none;
	background: #4561b2;
	border: 1px solid #eee;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	transition: all 0.3s ease;
}
button:hover{
background: #293968;
}

.p-img{
	text-align: center;
	position: relative;
	top: -70px;
}
img{
	z-index: 100;
	/* border-radius: 50%; */
	/* width: 170px; */
	/* height:170px; */
}

@media (max-width: 767.98px) {
  img.img-fluid.d-block.mx-auto.mnav {
    width: 10%;
  }
}
.lt-blur {
	backdrop-filter: drop-shadow(8px 8px 16px rgb(8, 8, 8));
	backdrop-filter: blur(5px);
	background: rgba(0,0,0,0.4);
	backdrop-filter: saturate(120%) blur(10px);
}
.blur {
	backdrop-filter: blur(5px);
	background: rgba(0,0,0,0.6);
	backdrop-filter: saturate(180%) blur(10px);
}
.bright-blur {
	/* URL to SVG filter */
	backdrop-filter: url(commonfilters.svg#filter);

	/* <filter-function> values */
	background: rgba(0,0,0,0.8);
	backdrop-filter: saturate(180%) blur(10px);
	backdrop-filter: blur(2px);
	backdrop-filter: brightness(60%);
	backdrop-filter: contrast(40%);
	backdrop-filter: drop-shadow(4px 4px 10px blue);
	backdrop-filter: grayscale(30%);
	backdrop-filter: hue-rotate(120deg);
	backdrop-filter: invert(70%);
	backdrop-filter: opacity(20%);
	backdrop-filter: sepia(90%);
	/* backdrop-filter: saturate(80%); */

	/* Multiple filters */
	backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);
}
.blur-bgimage {
    overflow: hidden;
    margin: 0;
    text-align: left;
}
.blur-bgimage:before {
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}

ul.soc-icons {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.soc-icons li {
  list-style: none;
  margin: 0 15px;
}

ul.soc-icons li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul.soc-icons li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #007bff;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul.soc-icons li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #007bff;
}

ul.soc-icons li a:hover {
  color: #007bff;
  box-shadow: 0 0 5px #007bff;
  text-shadow: 0 0 5px #007bff;
}

/* ------------Testimonial-Slider-Css-Start------------- */
/* testimonials wraper  */
#testimonial_slider {
  max-width: 550px;
  margin: 0 auto;
}

.testimonial_section .testimonial_block {
  /* background-color: #040F14; */
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 65px;
}

.testimonial_section .testimonial_block .testimonial_slide_box {
  text-align: center;
  width: 430px;
  padding: 10px;
  margin: 0 auto;
}

/* testimonials rating  */
.testimonial_section .testimonial_block .rating span {
  color: #FC9400;
  font-size: 18px;
}

.testimonial_section .testimonial_block .testimonial_slide_box .review {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* testimonials image  */
.testimonial_section .testimonial_block .testimonial_slide_box .testimonial_img img {
  margin: 0 auto;
  margin-top: 40px;
}

/* testimonials heading h3 */
.testimonial_section .testimonial_block .testimonial_slide_box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

.testimonial_section .testimonial_block .testimonial_slide_box .designation {
  font-size: 12px;
}

/* testimonials total review */
.testimonial_section .total_review {
  text-align: center;
  margin-top: 60px;
}

.testimonial_section .total_review .rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* testimonials paragraph */
.testimonial_section .total_review .rating p {
  margin-bottom: 0;
  font-weight: 600;
  margin-left: 5px;
  color: var(--dark-purple);
}

/* testimonials heading */
.testimonial_section .total_review h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--dark-purple);
}

.testimonial_section .total_review a {
  color: var(--purple);
  font-weight: 700;
}

.testimonial_section .testimonial_block .avtar_faces {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
}

.testimonial_section .testimonial_block .avtar_faces img {
  max-width: 100%;
}


/* slider controls */
.owl-carousel .owl-dots {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.owl-carousel .owl-dots button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--slider-dots-color);
  border-radius: 15px;
  margin: 0 5px;
  margin-bottom: 40px;
}

.owl-carousel .owl-dots button.active {
  background-color: #19A7CE;
}

.owl-carousel .owl-item img {
  max-width: 100%;
  width: auto !important;
}

.row_am {
  padding: 50px 0;
}


.about_trust_section {
  margin-bottom: 40px;
}


/* Blog List Css Start */
.blog_list_story {
  margin-bottom: 50px;
}

.blog_list_main {
  position: relative;
}

.blog_list_main > .container > .row {
  align-items: center;
}

.blog_list_main .blog_img {
  position: relative;
}

.blog_list_main .blog_img img {
  max-width: 100%;
  border-radius: 12px;
}

.blog_list_main .blog_img span {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 14px;
  color: var(--text-white);
}

.blog_list_main .blog_text .section_title {
  text-align: left;
}

.blog_list_main .blog_text .choice_badge {
  font-size: 12px;
  background-color: #F8D979;
  display: inline-block;
  padding: 1px 10px;
  border-radius: 4px;
  color: var(--dark-purple);
  font-weight: 700;
  margin-bottom: 10px;
}

.blog_list_main .blog_text a {
  color: var(--purple);
  margin-top: 25px;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
}

.blog_list_main .blog_text a:hover {
  text-decoration: underline;
}

.blog_list_story.row_am {
  padding-top: 30px;
}

.blog_list_story .story_box {
  margin-bottom: 40px;
  text-align: left;
}

/* -----------------About-App-Section-Css-Start------------------ */

/* about us section wraper */
.about_app_section .about_img {
  display: flex;
  align-items: center;
  position: relative;
}

/* about us section images*/
.about_app_section .about_img img {
  max-width: 100%;
}

.about_app_section .about_img::before {
  content: "";
  position: absolute;
  left: 38%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: var(--bg-white);
  border-radius: 100%;
  z-index: -1;
}

.about_app_section .about_img .screen_img {
  margin-left: -135px;
  margin-top: 110px;
}

.about_app_section .about_text .section_title {
  text-align: left;
}

.about_app_section .about_text .section_title h2 {
  margin-bottom: 15px;
}

.about_app_section .about_text .list {
  margin-top: 45px;
  margin-bottom: 45px;
}

.about_app_section .about_text .list ul {
  position: relative;
}


.about_app_section .about_text .list ul li{
  font-size: 17px;
  color: var(--dark-purple);
  font-weight: normal;
  margin-bottom: 8px;
}

.team-member-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}